@import "vars";

.footer { 
    padding: 50px 0;
    background-color: $footer-background-color; 
}

.footer__inner {
    width: 100%;

    display: grid;
    grid-template-columns: 300px 300px auto 300px;
    gap: 50px;
}

.footer__inner__item h3 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 111.5%;
    color: $white-color;
}

.footer__contant {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;

    margin-top: 30px;
}

.footer__contant li {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 186%;

    list-style-type: none;
}

.footer__contant a { 
    display: block;
    text-decoration: none; 
    color: $white-color;
}

.footer__logo {
    display: block;
    margin-top: 30px;
}