/* DIMENTIONS */
$header-height-normal: 85px;
$section-category-item-gap: 30px;
$section-margin-top: 120px;
$gap-after-final-section: 135px;

/* CONTAINER */
$container-width-1920: 1710px;
$container-width-1440: 1230px;

/* COLORS */
$white-color: #fff;
$olive-color: #ABC454;
$black-color-00: #000;
$black-color: #222222;
$black-color-26: #262626;
$red-color: #F04926;
$red-2-color: #ED3812;
$light-gray-color: #B4B4B4;
$light-green-color: #B7CE63;
$light-green-color-ec: #ECF7ED;
$green-color-48: #48941A;
$gray-color-a9: #A9A9A9;
$gray-2-color: #F3F3F3;
$yellow-1-color: #FCB603;

$footer-background-color: #17171A;

/* CARD */
$card-width: 285px;
$card-height: 425px;
$card-padding: 24px;