<!DOCTYPE html>

<section id="burger-menu" class="dropdown-block pad-tb-50">
    <div class="container">
        <div class="burger-menu__inner">

            <div class="burger-menu__inner__item">
                <h3>Информация</h3>
                <ul class="burger-menu__contant">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Оптовым покупателям</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Документы</a></li>
                </ul>
            </div>

            <div class="burger-menu__inner__item">
                <h3>Производители</h3>
                <ul class="burger-menu__contant">
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>