<!DOCTYPE html>

<section id="catalog-dropdown" class="dropdown-block pad-tb-50">
    <div class="container">
        <div class="catalog-dropdown__inner">

            <div class="manufacturer-list-block">
                <ul class="manufacturer-list">
                    <li>{{> manufacturer-catalog}}</li>
                    <li>{{> manufacturer-catalog}}</li>
                    <li>{{> manufacturer-catalog}}</li>
                    <li>{{> manufacturer-catalog}}</li>
                    <li>{{> manufacturer-catalog}}</li>
                    <li>{{> manufacturer-catalog}}</li>
                </ul>
            </div>

            <div class="categories-list-block">
                <h3 class="categories-name">Категории</h3>
                <ul class="categories-list">
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                </ul>
            </div>

        </div>
    </div>
</section>