<!DOCTYPE html>

<footer class="footer">
    <div class="container">
        <div class="footer__inner">

            <div class="footer__inner__item">
                <h3>Страницы</h3>
                <ul class="footer__contant">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Оптовым покупателям</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Документы</a></li>
                </ul>
            </div>

            <div class="footer__inner__item">
                <h3>Производители</h3>
                <ul class="footer__contant">
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                    <li><a href="#">ПРИПРАВЫЧ</a></li>
                </ul>
            </div>

            <div class="footer__inner__item">
                <h3>Категории</h3>
                <ul class="footer__contant">
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                    <li><a href="#">Специи и пряности</a></li>
                </ul>
            </div>

            <div class="footer__inner__item">
                <h3>Контакты</h3>
                <ul class="footer__contant">

                    <li>
                        <div class="description__contacts__item">
                            <object type="image/svg+xml" data="../assets/images/icons/contacts_phone.svg">
                                <img src="../assets/images/icons/contacts_phone.svg">
                            </object>
                            <p>+7 (910) 713-27-29</p>
                        </div>
                    </li>
                    
                    <li>
                        <div class="description__contacts__item">
                            <object type="image/svg+xml" data="../assets/images/icons/contacts_mail.svg">
                                <img src="../assets/images/icons/contacts_mail.svg">
                            </object>
                            <p>vasiltsova@dneprovsky.ru</p>
                        </div>
                    </li>
                    
                    <li>
                        <div class="description__contacts__item">
                            <object type="image/svg+xml" data="../assets/images/icons/contacts_geo.svg">
                                <img src="../assets/images/icons/contacts_geo.svg">
                            </object>
                            <p>г. Смоленск ул. Кашена, 11А, п.122</p>
                        </div>
                    </li>

                </ul>

                <object class="footer__logo" type="image/svg+xml" data="../assets/images/logo.svg">
                    <img src="../assets/images/logo.svg">
                </object>
            </div>
        </div>
    </div>
</footer>   