<!DOCTYPE html>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <div id="header-burger" class="header__burger">
                <span></span>
            </div>

            <nav class="header__nav">
                <div id="catalog-dropdown-link" class="header__nav__link header__catalog__dropdown">КАТАЛОГ ПРОДУКЦИИ</div>
                <a class="header__nav__link" href="#">ДОСТАВКА И ОПЛАТА</a>
                <a class="header__nav__link" href="#">ОПТОВЫМ ПОКУПАТЕЛЯМ</a>
                <a class="header__nav__link" href="#">КОНТАКТЫ</a>
            </nav>

            <div class="header__icons__block">
                <div class="header__icon__search__wrapper">
                    <object type="image/svg+xml" data="../assets/images/icons/search.svg">
                        <img src="../assets/images/icons/search.svg">
                    </object>
                </div>
                <div class="header__icon__cart__wrapper">
                    <object type="image/svg+xml" data="../assets/images/icons/cart.svg">
                        <img src="../assets/images/icons/cart.svg">
                    </object>
                    <span id="cart-product-count">0</span>
                </div>
            </div>
            
        </div>
    </div>
</header>