<!DOCTYPE html>

<div class="manufactirer-block">

    <div class="manufacturer-header">
        <div class="manufacturer-logo__wrapper">
            <img src="../assets/images/manufacturers/pripravjich.png" alt="Приправыч">
        </div>
        <h3 class="manufacturer-name">Приправыч</h3>
    </div>

    <div class="manufacturer-categories-block">
        <ul class="manufacturer-categories-list">
            <li><a href="#">Мельницы</a></li>
            <li><a href="#">Баночки с откидными крышками</a></li>
            <li><a href="#">Приправы</a></li>
            <li><a href="#">Специи и пряности</a></li>
            <li><a href="#">Кулинарные добавки</a></li>
            <li><a href="#">Мельницы</a></li>
            <li><a href="#">Мельницы</a></li>
            <li><a href="#">Мельницы</a></li>
            <li><a href="#">Мельницы</a></li>
            <li><a href="#">Мельницы</a></li>
            <li><a href="#">Мельницы</a></li>
            <li><a href="#">Мельницы</a></li>
        </ul>
    </div>

</div>