<!DOCTYPE html>

<section id="categories" class="section section__margin">
    <div class="container">
        <div class="categories__inner">

            <div id="cat-spices" class="cat__item">
                <div id="spices-inner" class="white-text cat__item__inner">
                    <h2 class="w100">Универсальные приправы</h2>
                    <a href="#">
                        <div id="spices-to-cat" class="cat__link-block">В каталог</div>
                    </a>
                </div>
            </div>
            
            <div id="cat-chim" class="cat__item">
                <div id="chim-inner" class="black26-text cat__item__inner">
                    <h2 class="w100">Продукция Чим&#8209;Чим</h2>
                    <p class="w100">Готовь как повар у себя на кухне</p>
                    <a href="#">
                        <div id="chim-to-cat" class="cat__link-block">В каталог</div>
                    </a>
                </div>
            </div>

            <div id="cat-herb" class="cat__item">
                <div id="herb-inner" class="black26-text cat__item__inner">
                    <h2 class="w100">Cушенные травы и зелень</h2>
                    <p class="w100">Для самых вкусных блюд</p>
                    <a href="#">
                        <div id="herb-to-cat" class="cat__link-block">В каталог</div>
                    </a>
                </div>
            </div>

            <div id="cat-salad" class="cat__item">
                <div id="salad-inner" class="white-text cat__item__inner">
                    <h2 class="w100">Заправки для салатов</h2>
                    <p class="w100">Как в ресторане</p>
                    <a href="#">
                        <div id="salad-to-cat" class="cat__link-block">В каталог</div>
                    </a>
                </div>
            </div>

            <div id="cat-souce" class="cat__item">
                <div id="souce-inner" class="white-text cat__item__inner">
                    <h2 class="w100">Маринады и соусы</h2>
                    <p class="w100">Эксперт в шашлыках</p>
                    <a href="#">
                        <div id="souce-to-cat" class="cat__link-block">В каталог</div>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</section>