<!DOCTYPE html>

<section class="section section__margin final-section">
    <div class="container">
        <div class="description__inner">

            <span id="description-part-left" class="description__part">
                <p>
                    В нашем каталоге можно выбрать смеси пряностей для 
                    приготовления угощений как для традиционной русской кухни, 
                    так и для восточных и европейских блюд. Сухие приправы от 
                    проверенных российских производителей - «ПРИПРАВЫЧ», 
                    «КОСТРОВОК», «ЧИМ-ЧИМ», «ГУРМИКС». Качественные специи в 
                    удобной упаковке.
                </p>

                <div class="description__resum__container">
                    <div class="description__resum__item">
                        <object type="image/svg+xml" data="../assets/images/icons/desc_fresh.svg">
                            <img src="../assets/images/icons/desc_fresh.svg">
                        </object>
                        <p>Самая свежая продукция напрямую с производства</p>
                    </div>
                    <div class="description__resum__item">
                        <object type="image/svg+xml" data="../assets/images/icons/desc_market.svg">
                            <img src="../assets/images/icons/desc_market.svg">
                        </object>
                        <p>цены ниже, чем на маркетплейсах</p>
                    </div>
                    <div class="description__resum__item">
                        <object type="image/svg+xml" data="../assets/images/icons/desc_opt.svg">
                            <img src="../assets/images/icons/desc_opt.svg">
                        </object>
                        <p>ОСобые условия для оптовых клиентов</p>
                    </div>
                </div>
            </span>

            <span id="description-part-right" class="description__part">
                <div class="description__contacts__container">
                    <h3>Контакты</h3>

                    <div class="description__contacts">

                        <div class="description__contacts__item">
                            <object type="image/svg+xml" data="../assets/images/icons/contacts_phone.svg">
                                <img src="../assets/images/icons/contacts_phone.svg">
                            </object>
                            <p>+7 (910) 713-27-29</p>
                        </div>

                        <div class="description__contacts__item">
                            <object type="image/svg+xml" data="../assets/images/icons/contacts_mail.svg">
                                <img src="../assets/images/icons/contacts_mail.svg">
                            </object>
                            <p>vasiltsova@dneprovsky.ru</p>
                        </div>

                        <div class="description__contacts__item">
                            <object type="image/svg+xml" data="../assets/images/icons/contacts_geo.svg">
                                <img src="../assets/images/icons/contacts_geo.svg">
                            </object>
                            <p>г. Смоленск ул. Кашена, 11А, п.122</p>
                        </div>

                    </div>

                    <button id="callback-btn" type="button">Связаться с нами</button>

                </div>
            </span>

        </div>
    </div>
</section>