<!DOCTYPE html>

<section id="intro" class="section">
    <div class="container">
        <div class="intro__inner">
            <div class="intro__info-block">
                <h1 class="intro__header">Большой выбор специй и пряностей.</h1>
                <p class="intro__desc">
                    В нашем каталоге можно выбрать смеси пряностей для приготовления 
                    угощений как для традиционной русской кухни, так и для восточных 
                    и европейских блюд.
                </p>

                <div class="intro__card-block">
                    <div id="intro-card-1" class="intro__card">
                        <p class="intro__card-text white-text">При заказе</p>
                        <p class="intro__card-text white-text">от 500₽ доставим</p>
                        <p id="intro-free-text" class="intro__card-text intro__bgr-color-text-block white-text">бесплатно</p>
                    </div>

                    <div id="intro-card-2" class="intro__card">
                        <p class="intro__card-text black26-text">Скидки</p>
                        <p id="intro-sale-size-text" class="intro__card-text intro__bgr-color-text-block white-text">до 30%</p>
                    </div>
            </div>
        </div>
    </div>
</section>